/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { 
	margin-top: 0; 
	font-family: 'Nunito', sans-serif;
}

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}
/*	****************************************
	
	**************************************** */
.layout {
  display: flex;
  
  flex-flow: row nowrap; /* Align on the same line */
  justify-content: space-between; /* Equal margin between the child elements */ 
  position: absolute; 
  bottom: 0; 
  right: 0;
}
#first {
	background-image: url("../images/cat2.jpg");
	background-size: 100% 100%;
}
.one  {
	padding: 8px;
	background-color: white;
	opacity: 0.7;
	border-radius: 20px;
}	
.two {
	padding: 12px;
/*	background-color: #e18942;*/
	background-color: #ffb173;
	opacity: 0.8;
	color: black;
	border-radius: 20px;
	color: black; 
}
.three {
	padding: 12px;
	background-color: white; 
	opacity: 0.7;
	border-radius: 20px;
	color: black; 
}
h1 {
	color: #34282c; 
/*	font-family: 'Nunito', sans-serif; */
	font-family: 'Open Sans', sans-serif;
}
/* experiment */
nav ul { 
	padding-left: 0; 
}
nav li { 
	display: inline-block; 
}
nav a { 
	display: block; 
	padding: 10px;
	border: 1px solid #ddd;
}
nav a:hover { 
	background-color: #44b3c2;
}

a { 
/*	color: black; */
	text-decoration: none;
}
a:hover { 
	color: white;
	text-decoration: none;
}
.section-wrapper {
	margin: 20px;
}

/*	*************************************
	State
	************************************* */
.horizontal-menu .current a { 
	color: green; 
}
.placeholder{
	color: red;
}



/*	****************************************
		Media Queries
	**************************************** */
@media (max-width: 720px) {
	
}

