/*	****************************************
	Demo styles (for demo purposes only)
	**************************************** */
p { 
	margin-top: 0; 
	font-family: 'Nunito', sans-serif;
}

.right {
	float: right;
	margin-left: 15px;
}

.frame {
	border: 1px solid #666;
	padding: 5px;
}

/*	****************************************
	Modules (reusable classes)
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}
/*	****************************************
	
	**************************************** */
.layout {
  display: flex;
  
  flex-flow: row nowrap; /* Align on the same line */
  justify-content: space-between; /* Equal margin between the child elements */ 
  position: absolute; 
  bottom: 0; 
  right: 0;
}
#first {
	background-image: url("../images/cat2.jpg");
	background-size: 100% 100%;
}
.one  {
	padding: 8px;
	background-color: white;
	opacity: 0.7;
	border-radius: 20px;
}	
.two {
	padding: 12px;
/*	background-color: #e18942;*/
	background-color: #ffb173;
	opacity: 0.8;
	color: black;
	border-radius: 20px;
	color: black; 
}
.three {
	padding: 12px;
	background-color: white; 
	opacity: 0.7;
	border-radius: 20px;
	color: black; 
}
h1 {
	color: #34282c; 
/*	font-family: 'Nunito', sans-serif; */
	font-family: 'Open Sans', sans-serif;
}
/* experiment */
nav ul { 
	padding-left: 0; 
}
nav li { 
	display: inline-block; 
}
nav a { 
	display: block; 
	padding: 10px;
	border: 1px solid #ddd;
}
nav a:hover { 
	background-color: #44b3c2;
}

a { 
/*	color: black; */
	text-decoration: none;
}
a:hover { 
	color: white;
	text-decoration: none;
}
.section-wrapper {
	margin: 20px
}
.section-wrapper a {
	color: #44b3c2;
}
/* form style: style idea borrowed from: https://www.sanwebe.com/2013/10/css-html-form-styles */

.form-style {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
.form-style h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.form-style p {
    display: block;
    font-size: 11px;
}
.form-style label {
    display: block;
    margin: 0px;
}
.form-style input[type="text"], .form-style input[type="email"], .form-style input[type="tel"], .form-style textarea, .form-style select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
.form-style textarea{
    padding: 5px 3px 3px 5px;
}
.form-style textarea{
    height:100px;
}


/*	*************************************
	State
	************************************* */
.horizontal-menu .current a { 
	color: green; 
}
.placeholder{
	background-color: #ffcf75;
}



